In [34]:
import pandas as pd
import os

In [40]:
score = pd.read_csv("scores.csv")

In [41]:
score

   Unnamed: 0    name  score
0           0  filipe     10

In [42]:
new_score = {"name":["filipe"], "score":[10]}
df = pd.DataFrame(new_score)
df

     name  score
0  filipe     10

In [43]:
score = pd.concat([score, df],index=0)
score

   Unnamed: 0    name  score
0         0.0  filipe     10
0         NaN  filipe     10

In [39]:
score.to_csv("scores.csv")