In [2]:
import pandas as pd
import os
score = pd.read_csv("scores.csv", index_col=0)
score

   position     name  Fruits  Date
0         1   filipe      10     0
1         2  adriano       6     0
2         3    fabio       4     0

In [7]:
a = score["Fruits"].tolist()
a

[10, 6, 4]

In [81]:
score = pd.concat([score, df],ignore_index=True,axis=0)
score

     name  score
0  filipe     10
1  filipe     10

In [82]:
score.to_csv("scores.csv")